/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/.umi
/.umi-production
/dist
/.mfsu
/npm-debug.log*
/yarn-error.log
.DS_Store
/pnpm-lock.yaml
/yarn.lock
